{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>Recent Posts</h2>

<div>
{% for post in page_obj %}
    <div class="card mx-auto" style="width: 22rem;">
        {% if post.task_pic %}
            <img src="{{post.task_pic.url}}" class="card-img-top" alt="...">
        {% else %}
            <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png" alt="">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{post.task_title}}</h5>
          <small class="text-muted">{{post.create_time_stamp|date:'Y-m-d H:i'}}</small>
          <p class="card-text">{{post.task_description}}</p>
          <a href="#" class="btn btn-primary">-By {{user.username}}</a>
        </div>
      </div>
<hr>
{% endfor %}
</div>

<a href="{% url 'createtask' %}">Create new Post</a><br>
<a href="{% url 'logout' %}">Logout</a>

<div class="pagination">
    <span class="step-links" style="margin: auto;">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}