<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>MemeHome</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">MEME HOME</h1>
          <hr class="mt-0 mb-4">
          <h3>Welcome! to this website, click on the button below as per your task's choice.</h3>
            <a class="btn btn-success" href="{% url 'home' %}" role="button">Task 1</a>
            <a class="btn btn-success" href="{% url 'hierarchy' %}" role="button">Task 2</a>
        </div>
      </div>
    </div>
  </body>
</html>